# 1.Tiingo

In [5]:
import pandas_datareader.data as web
from datetime import datetime
api_key="d1fdf41ea66b0a24fdce76c229732572179ab3ab"
web.DataReader('GOOG', "tiingo",api_key=api_key,start=datetime(2016,9,1)).reset_index(level="symbol",drop=True).head()

                            close      high  ...  divCash  splitFactor
date                                         ...
2016-09-01 00:00:00+00:00  768.78  771.0200  ...      0.0          1.0
2016-09-02 00:00:00+00:00  771.46  773.9199  ...      0.0          1.0
2016-09-06 00:00:00+00:00  780.08  782.0000  ...      0.0          1.0
2016-09-07 00:00:00+00:00  780.35  782.7300  ...      0.0          1.0
2016-09-08 00:00:00+00:00  775.32  780.3500  ...      0.0          1.0

[5 rows x 12 columns]

# 2.IEX

In [5]:
import pandas_datareader.data as web
from datetime import datetime
api_key="pk_687865905ec7464bac41c16a187f1248"
web.DataReader('GOOG', "iex",api_key=api_key,start=datetime(2016,9,1)).head()

              open      high     low   close   volume
date
2016-09-01  769.25  771.0200  764.30  768.78   925131
2016-09-02  773.01  773.9199  768.41  771.46  1072658
2016-09-06  773.45  782.0000  771.00  780.08  1442822
2016-09-07  780.00  782.7300  776.20  780.35   894021
2016-09-08  778.59  780.3500  773.58  775.32  1270264

# 3.Alpha Vantage

In [3]:
import pandas_datareader.data as web
from datetime import datetime
api_key="5UWLPUS1F7O7RFQ0"
web.DataReader('GOOG', "av-daily",api_key=api_key,start=datetime(2016,9,1)).head()

              open      high     low   close   volume
2016-09-01  769.25  771.0200  764.30  768.78   925131
2016-09-02  773.01  773.9199  768.41  771.46  1072658
2016-09-06  773.45  782.0000  771.00  780.08  1442822
2016-09-07  780.00  782.7300  776.20  780.35   894021
2016-09-08  778.59  780.3500  773.58  775.32  1270264

In [37]:
import pandas_datareader.data as web
from datetime import datetime
api_key="5UWLPUS1F7O7RFQ0"
web.DataReader('USD/JPY', "av-forex-daily",api_key=api_key,start=datetime(2016,9,1)).head()

               open     high      low    close
2016-09-01  103.325  103.998  103.029  103.184
2016-09-02  103.190  104.320  102.794  103.975
2016-09-05  104.056  104.074  103.120  103.436
2016-09-06  103.437  103.808  101.899  102.101
2016-09-07  102.100  102.109  101.190  101.701

In [39]:
import pandas_datareader.data as web
api_key="5UWLPUS1F7O7RFQ0"
web.get_sector_performance_av(api_key=api_key).head()

,RT,1D,5D,1M,3M,YTD,1Y,3Y,5Y,10Y
Utilities,0.69%,1.28%,4.41%,-1.56%,0.23%,-1.31%,2.76%,26.53%,29.57%,92.03%
Industrials,0.39%,1.34%,3.57%,7.73%,9.12%,8.89%,49.30%,24.12%,74.19%,157.46%
Consumer Staples,0.36%,0.71%,2.15%,0.22%,-2.18%,-2.97%,14.20%,20.51%,26.11%,120.97%
Communication Services,0.22%,-0.90%,0.71%,0.85%,8.22%,7.88%,51.09%,52.59%,42.11%,90.44%
Consumer Discretionary,0.10%,0.10%,5.74%,-2.64%,5.58%,2.12%,56.52%,57.56%,117.47%,333.10%

# 4.Econdb

In [11]:
import pandas_datareader.data as web
from datetime import datetime
web.DataReader('ticker=RGDPUS', 'econdb',start=datetime(2016,9,1)).head()  # .to_json(orient="split")

TableName                                                                                                                                   T10106
SeriesCode                                                                                                                                  A191RX
Table                                                                            Table 1.1.6. Real Gross Domestic Product, Chained Dollars (A) (Q)
Series description                                                                                                          Gross domestic product
CL_UNIT                                                                                                                                      Level
CL_FREQ                                                                                                                                          Q
Note               Table 1.1.6. Real Gross Domestic Product, Chained Dollars [Billions of chained (2012) dollars] - LastRevised: February 25, 2021
TIME_PERIOD
2016-10-01                                                   17876180
2017-01-01                                                   17977300
2017-04-01                                                   18054052
2017-07-01                                                   18185636
2017-10-01                                                   18359432

# 5. Quandle

In [1]:
import pandas_datareader.data as web
from datetime import datetime
api_key="vhfF-yBPBtKTyFGnrdGt"
web.DataReader("SBJ/0307","quandl",api_key=api_key,start=datetime(2016,9,1)).head()

,LabourForce:Total,LabourForce:1564,LabourForce:1524,LabourForce:2534,LabourForce:3544,LabourForce:4554,LabourForce:5564,LabourForce:65+,LabourForceRate:Total,LabourForceRate:1564,LabourForceRate:1524,LabourForceRate:2534,LabourForceRate:3544,LabourForceRate:4554,LabourForceRate:5564,LabourForceRate:65+
Year,,,,,,,,,,,,,,,,
2018-12-31,6830.0,5955.0,583.0,1160.0,1469.0,1567.0,1175.0,875.0,6289.0,61.5,78.9,47.6,87.8,87.0,87.4,77.0
2017-12-31,6720.0,5899.0,545.0,1167.0,1497.0,1526.0,1164.0,822.0,6252.0,60.5,77.6,44.6,86.8,85.9,87.2,75.4
2016-12-31,6673.0,5887.0,539.0,1180.0,1527.0,1482.0,1159.0,786.0,6232.0,60.0,76.8,44.8,86.1,85.2,86.8,73.5

# 6.Fred

In [2]:
import pandas_datareader.data as web
from datetime import datetime
web.DataReader("GDP","fred",start=datetime(2016,9,1)).head()

                  GDP
DATE
2016-10-01  19032.580
2017-01-01  19237.435
2017-04-01  19379.232
2017-07-01  19617.288
2017-10-01  19937.963

# 7.Fama French

In [11]:
import pandas_datareader.data as web
from datetime import datetime
web.DataReader('5_Industry_Portfolios', 'famafrench',start=datetime(2016,9,1),end=datetime(2016,12,1))

{0:          Cnsmr  Manuf  HiTec  Hlth   Other
 Date
 2016-09  -1.44   1.05   2.03   0.35  -1.25
 2016-10  -2.52  -2.31  -1.46  -7.44   0.59
 2016-11   1.53   5.29   1.65   1.38  11.27
 2016-12   1.33   1.57   1.62   0.85   2.94,
 1:          Cnsmr  Manuf  HiTec  Hlth   Other
 Date
 2016-09  -0.69   1.82   1.85   7.91   0.86
 2016-10  -4.17  -4.56  -5.13 -13.66  -2.19
 2016-11   8.12  11.84   5.03   5.28  12.92
 2016-12   1.86   1.61   0.74  -2.62   5.42,
 2:       Cnsmr  Manuf  HiTec  Hlth   Other
 Date
 2016   5.52  20.33  13.81  -4.47  20.07,
 3:       Cnsmr  Manuf  HiTec  Hlth   Other
 Date
 2016  16.43  32.64  17.18 -11.49  30.57,
 4:          Cnsmr  Manuf  HiTec  Hlth   Other
 Date
 2016-09    534    615    705    609   1090
 2016-10    530    613    699    604   1087
 2016-11    529    611    688    600   1084
 2016-12    527    609    681    597   1075,
 5:            Cnsmr    Manuf    HiTec    Hlth     Other
 Date
 2016-09  8041.47  7101.54  8915.12  4275.71  5413.28
 2016-10  7969.70  7169.90  9166.29  4318.66  5343.15
 2016-11  7777.05  7014.08  9126.56  4019.34  5384.81
 2016-12  7897.03  7378.85  9307.00  4078.44  6025.49,
 6:       Cnsmr  Manuf  HiTec  Hlth   Other
 Date
 2016   0.23   0.41   0.27   0.22    0.6,
 7:       Cnsmr  Manuf  HiTec  Hlth   Other
 Date
 2016   0.24   0.47   0.28   0.22   0.56,
 'DESCR': '5 Industry Portfolios\n---------------------\n\nThis file was created by CMPT_IND_RETS using the 202101 CRSP database. It contains value- and equal-weighted returns for 5 industry portfolios. The portfolios are constructed at the end of June. The annual returns are from January to December. Missing data are indicated by -99.99 or -999. Copyright 2021 Kenneth R. French\n\n  0 : Average Value Weighted Returns -- Monthly (4 rows x 5 cols)\n  1 : Average Equal Weighted Returns -- Monthly (4 rows x 5 cols)\n  2 : Average Value Weighted Returns -- Annual (1 rows x 5 cols)\n  3 : Average Equal Weighted Returns -- Annual (1 rows x 5 cols)\n  4 : Number of Firms in Portfolios (4 rows x 5 cols)\n  5 : Average Firm Size (4 rows x 5 cols)\n  6 : Sum of BE / Sum of ME (1 rows x 5 cols)\n  7 : Value-Weighted Average of BE/ME (1 rows x 5 cols)'}

# 8.World Bank

In [3]:
from pandas_datareader import wb
wb.search('gdp.*capita.*const')

,id,name,unit,source,sourceNote,sourceOrganization,topics
716,6.0.GDPpc_constant,"GDP per capita, PPP (constant 2011 internation...",,LAC Equity Lab,GDP per capita based on purchasing power parit...,b'World Development Indicators (World Bank)',Economy & Growth
9193,NY.GDP.PCAP.KD,GDP per capita (constant 2010 US$),,World Development Indicators,GDP per capita is gross domestic product divid...,"b'World Bank national accounts data, and OECD ...",Economy & Growth
9195,NY.GDP.PCAP.KN,GDP per capita (constant LCU),,World Development Indicators,GDP per capita is gross domestic product divid...,"b'World Bank national accounts data, and OECD ...",Economy & Growth
9197,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",,World Development Indicators,GDP per capita based on purchasing power parit...,"b'International Comparison Program, World Bank...",Economy & Growth
9198,NY.GDP.PCAP.PP.KD.87,"GDP per capita, PPP (constant 1987 internation...",,WDI Database Archives,,b'',

In [9]:
from pandas_datareader import wb
from datetime import datetime
wb.download(indicator='NY.GDP.PCAP.KD', country=['US', 'CA'],start=datetime(2016,9,1),end=datetime(2017,9,1))

                    NY.GDP.PCAP.KD
country       year
Canada        2017    51170.475841
              2016    50193.750410
United States 2017    53552.485014
              2016    52643.917842

# 9.OECD

In [10]:
import pandas_datareader.data as web
from datetime import datetime
web.DataReader("TUD","oecd",start=datetime(2017,9,1))["Japan"]

Source     Administrative data                ...   Survey data
Series               Employees Union members  ... Union members Trade union  density
Year                                          ...
2018-01-01             45650.0       12227.0  ...           NaN                  NaN

[1 rows x 6 columns]

# 10.Eurostat

In [70]:
import pandas_datareader.data as web
from datetime import datetime
web.DataReader('tran_sf_railac', 'eurostat',start=datetime(2016,9,1)).head()

UNIT                                                                                      Number  \
ACCIDENT    Collisions of trains, including collisions with obstacles within the clearance gauge
GEO                                                                                      Austria
FREQ                                                                                      Annual
TIME_PERIOD
2017-01-01                                                 7.0
2018-01-01                                                 4.0
2019-01-01                                                 1.0

UNIT                                                             \
ACCIDENT
GEO         Belgium Bulgaria Switzerland Channel Tunnel Czechia
FREQ         Annual   Annual      Annual         Annual  Annual
TIME_PERIOD
2017-01-01      1.0      1.0         3.0            0.0    11.0
2018-01-01      0.0      1.0         3.0            0.0     6.0
2019-01-01      2.0      4.0         4.0            0.0     7.0

UNIT                                                                          \
ACCIDENT
GEO         Germany (until 1990 former territory of the FRG) Denmark Estonia
FREQ                                                  Annual  Annual  Annual
TIME_PERIOD
2017-01-01                                              38.0     2.0     4.0
2018-01-01                                              40.0     1.0     0.0
2019-01-01                                              33.0     2.0     0.0

UNIT                ...                                                    \
ACCIDENT            ...     Unknown
GEO         Greece  ... Netherlands Norway Poland Portugal Romania Sweden
FREQ        Annual  ...      Annual Annual Annual   Annual  Annual Annual
TIME_PERIOD         ...
2017-01-01     1.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2018-01-01     2.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2019-01-01     1.0  ...         NaN    NaN    NaN      NaN     NaN    NaN

UNIT
ACCIDENT
GEO         Slovenia Slovakia Turkey United Kingdom
FREQ          Annual   Annual Annual         Annual
TIME_PERIOD
2017-01-01       NaN      NaN    0.0            NaN
2018-01-01       NaN      NaN    0.0            NaN
2019-01-01       NaN      NaN    NaN            NaN

[3 rows x 272 columns]

# 11.Nasdaq

In [73]:
from pandas_datareader.nasdaq_trader import get_nasdaq_symbols
get_nasdaq_symbols()

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
A,True,"Agilent Technologies, Inc. Common Stock",N,,False,100.0,False,NaN,A,A,False
AA,True,Alcoa Corporation Common Stock,N,,False,100.0,False,NaN,AA,AA,False
AAA,True,Listed Funds Trust AAF First Priority CLO Bond...,P,,True,100.0,False,NaN,AAA,AAA,False
AAAU,True,Goldman Sachs Physical Gold ETF Shares,P,,True,100.0,False,NaN,AAAU,AAAU,False
AAC.U,True,"Ares Acquisition Corporation Units, each consi...",N,,False,100.0,False,NaN,AAC.U,AAC=,False
...,...,...,...,...,...,...,...,...,...,...,...
ZXYZ.A,True,Nasdaq Symbology Test Common Stock,Q,Q,False,100.0,True,N,NaN,ZXYZ.A,False
ZXZZT,True,NASDAQ TEST STOCK,Q,G,False,100.0,True,N,NaN,ZXZZT,False
ZYME,True,Zymeworks Inc. Common Shares,N,,False,100.0,False,NaN,ZYME,ZYME,False
ZYNE,True,"Zynerba Pharmaceuticals, Inc. - Common Stock",Q,G,False,100.0,False,N,NaN,ZYNE,False
ZYXI,True,"Zynex, Inc. - Common Stock",Q,S,False,100.0,False,N,NaN,ZYXI,False

# 12.Stooq

In [1]:
import pandas_datareader.data as web
from datetime import datetime
# web.DataReader('AAPL' , "stooq",start=datetime(2016,9,1) ).tail()
web.DataReader('AAPL' , "stooq" ).tail()

ConnectTimeout: HTTPSConnectionPool(host='stooq.com', port=443): Max retries exceeded with url: /q/d/l/?s=AAPL.US&i=d&d1=20160327&d2=20210326 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7f4646488c90>, 'Connection to stooq.com timed out. (connect timeout=30)'))

# 13.Moex

In [2]:
import pandas_datareader.data as web
from datetime import datetime
web.DataReader('USD000UTSTOM', 'moex',start=datetime(2016,9,1)).head()

,BOARDID,CLOSE,HIGH,LOW,NUMTRADES,OPEN,SECID,SHORTNAME,VOLRUR,WAPRICE
TRADEDATE,,,,,,,,,,
2016-10-10,FUTN,0.0,0.0,0.0,0,0.0,USD000UTSTOM,USDRUB_TOM,0.0,NaN
2016-10-10,FUTS,0.0,0.0,0.0,0,0.0,USD000UTSTOM,USDRUB_TOM,0.0,NaN
2020-12-21,FUTN,0.0,0.0,0.0,0,0.0,USD000UTSTOM,USDRUB_TOM,0.0,NaN
2020-12-21,FUTS,0.0,0.0,0.0,0,0.0,USD000UTSTOM,USDRUB_TOM,0.0,NaN
2020-12-22,FUTN,0.0,0.0,0.0,0,0.0,USD000UTSTOM,USDRUB_TOM,0.0,NaN

# 14.Naver

In [77]:
import pandas_datareader.data as web
from datetime import datetime
web.DataReader('005930', 'naver',start=datetime(2016,9,1)).head()

             Open   High    Low  Close  Volume
Date
2016-09-01  31660  31760  31260  31740  375803
2016-09-02  31900  32260  31760  31940  163060
2016-09-05  31800  32300  31700  32120  167676
2016-09-06  32140  32900  31940  32860  153203
2016-09-07  32960  33040  32420  32420  191837