In [1]:
import yfinance as yf
msft = yf.Ticker("MSFT")

In [34]:
# get stock info
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 163000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for small and medium businesses, large organizations, and divisions of enterprises. Its Intelligent Cloud segment licenses SQL and Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification to developers and IT professionals on various Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has a strategic collaboration with DXC Technology. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425-882-8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'industry': 'Softwareâ€”Infrastructure',
 'previousClose': 232.42,
 'regularMarketOpen': 234.96,
 'twoHundredDayAverage': 219.76591,
 'trailingAnnualDividendYield': 0.009207469,
 'payoutRatio': 0.31149998,
 'volume24Hr': None,
 'regularMarketDayHigh': 236.75,
 'navPrice': None,
 'averageDailyVolume10Day': 33312387,
 'totalAssets': None,
 'regularMarketPreviousClose': 232.42,
 'fiftyDayAverage': 235.78485,
 'trailingAnnualDividendRate': 2.14,
 'open': 234.96,
 'toCurrency': None,
 'averageVolume10days': 33312387,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 2.24,
 'exDividendDate': 1613520000,
 'beta': 0.812567,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 234.53,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 35.0246,
 'regularMarketVolume': 3314019,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1771742822400,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 29813463,
 'priceToSalesTrailing12Months': 11.558563,
 'dayLow': 234.53,
 'ask': 236.03,
 'ytdReturn': None,
 'askSize': 900,
 'volume': 3314019,
 'fiftyTwoWeekHigh': 246.13,
 'forwardPE': 29.037083,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.68,
 'fiftyTwoWeekLow': 132.52,
 'bid': 235.88,
 'tradeable': False,
 'dividendYield': 0.0095999995,
 'bidSize': 1000,
 'dayHigh': 236.75,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 11.115,
 'beta3Year': None,
 'profitMargins': 0.33473998,
 'enterpriseToEbitda': 23.767,
 '52WeekChange': 0.6713649,
 'morningStarRiskRating': None,
 'forwardEps': 8.09,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7560500224,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 17.259,
 'sharesShort': 41632106,
 'sharesPercentSharesOut': 0.0055,
 'fundFamily': None,
 'lastFiscalYearEnd': 1593475200,
 'heldPercentInstitutions': 0.71844,
 'netIncomeToCommon': 51309998080,
 'trailingEps': 6.707,
 'lastDividendValue': 0.56,
 'SandP52WeekChange': 0.5716952,
 'priceToBook': 13.610869,
 'heldPercentInsiders': 0.00059,
 'nextFiscalYearEnd': 1656547200,
 'mostRecentQuarter': 1609372800,
 'shortRatio': 1.36,
 'sharesShortPreviousMonthDate': 1611878400,
 'floatShares': 7431118929,
 'enterpriseValue': 1703754727424,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1613520000,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.327,
 'dateShortInterest': 1614297600,
 'pegRatio': 1.82,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0055,
 'sharesShortPriorMonth': 44533174,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 234.96,
 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

In [5]:
# get historical market data
hist = msft.history(period="max")

In [7]:
# show actions (dividends, splits)
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2020-02-19       0.51           0.0
2020-05-20       0.51           0.0
2020-08-19       0.51           0.0
2020-11-18       0.56           0.0
2021-02-17       0.56           0.0

[78 rows x 2 columns]

In [8]:
# show dividends
msft.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2020-02-19    0.51
2020-05-20    0.51
2020-08-19    0.51
2020-11-18    0.56
2021-02-17    0.56
Name: Dividends, Length: 69, dtype: float64

In [9]:
# show splits
msft.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

In [2]:
# show financials
# msft.financials
yf.Ticker('BIM.PA').earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [3]:
msft.quarterly_financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [4]:
# show major holders
msft.major_holders

        0                                      1
0   0.06%        % of Shares Held by All Insider
1  71.84%       % of Shares Held by Institutions
2  71.89%        % of Float Held by Institutions
3    4849  Number of Institutions Holding Shares

In [5]:
# show institutional holders
msft.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",614100233,2020-12-30,0.0814,136588173823
1,Blackrock Inc.,515509179,2020-12-30,0.0683,114659551593
2,State Street Corporation,299126371,2020-12-30,0.0397,66531687437
3,"FMR, LLC",222257473,2020-12-30,0.0295,49434507144
4,Price (T.Rowe) Associates Inc,177500157,2020-12-30,0.0235,39479584919
5,"Geode Capital Management, LLC",117798162,2020-12-30,0.0156,26200667192
6,Capital World Investors,110441260,2020-12-30,0.0146,24564345049
7,Capital Research Global Investors,95506129,2020-12-30,0.0127,21242473212
8,Capital International Investors,91995988,2020-12-30,0.0122,20461747650
9,Northern Trust Corporation,91215100,2020-12-30,0.0121,20288062542

In [6]:
# show balance sheet
msft.balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [15]:
msft.quarterly_balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [16]:
# show cashflow
msft.cashflow
msft.quarterly_cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [17]:
# show earnings
msft.earnings
msft.quarterly_earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [18]:
# show sustainability
msft.sustainability

                                     Value
2021-3
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           9.37
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                              103
governanceScore                        4.9
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             14.74
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                            7.55
peerGroup              Software & Services
smallArms                            False
environmentScore                      0.47
governancePercentile                  None
militaryContract                     False

In [19]:
# show analysts recommendations
msft.recommendations

                                  Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00     Argus Research            Buy                up
2012-03-19 14:00:00     Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00     Morgan Stanley     Overweight              main
2012-04-03 11:53:00                UBS            Buy              main
2012-04-20 06:18:00      Deutsche Bank            Buy              main
...                                ...            ...        ...    ...
2021-01-27 17:44:01  B of A Securities            Buy              main
2021-01-28 18:11:05     Argus Research            Buy              main
2021-02-02 10:28:34      Piper Sandler     Overweight              reit
2021-02-16 13:32:33            Wedbush     Outperform              main
2021-03-05 13:34:12     Morgan Stanley     Overweight              main

[315 rows x 4 columns]

In [20]:
# show next event (earnings, etc)
msft.calendar

                                    0                    1
Earnings Date     2021-04-27 00:00:00  2021-05-03 00:00:00
Earnings Average                 1.77                 1.77
Earnings Low                     1.69                 1.69
Earnings High                    1.93                 1.93
Revenue Average           41032800000          41032800000
Revenue Low               40541000000          40541000000
Revenue High              41894000000          41894000000

In [21]:
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

'US5949181045'

In [23]:
# show options expirations
msft.options

('2021-03-12',
 '2021-03-19',
 '2021-03-26',
 '2021-04-01',
 '2021-04-09',
 '2021-04-16',
 '2021-04-23',
 '2021-05-21',
 '2021-06-18',
 '2021-07-16',
 '2021-08-20',
 '2021-09-17',
 '2021-10-15',
 '2022-01-21',
 '2022-03-18',
 '2022-06-17',
 '2022-09-16',
 '2023-01-20',
 '2023-03-17',
 '2023-06-16')

In [25]:
# get option chain for specific expiration
opt = msft.option_chain('YYYY-MM-DD')
# data available via: opt.calls, opt.puts

ValueError: Expiration `YYYY-MM-DD` cannot be found. Available expiration are: [2021-03-12, 2021-03-19, 2021-03-26, 2021-04-01, 2021-04-09, 2021-04-16, 2021-04-23, 2021-05-21, 2021-06-18, 2021-07-16, 2021-08-20, 2021-09-17, 2021-10-15, 2022-01-21, 2022-03-18, 2022-06-17, 2022-09-16, 2023-01-20, 2023-03-17, 2023-06-16]

# override pandas

In [12]:
import pandas_datareader as pdr
import yfinance as yf
yf.pdr_override() 
# data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30")
pdr.get_data_yahoo('GOOG',start="2016-9-1").head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-09-01,771.020020,764.299988,769.250000,768.780029,925100,768.780029
2016-09-02,773.919983,768.409973,773.010010,771.460022,1072700,771.460022
2016-09-06,782.000000,771.000000,773.450012,780.080017,1442800,780.080017
2016-09-07,782.729980,776.200012,780.000000,780.349976,893700,780.349976
2016-09-08,780.349976,773.580017,778.590027,775.320007,1270300,775.320007

In [7]:
type(data)

pandas.core.frame.DataFrame

In [9]:
data.head().to_json()

'{"Open":{"1483401600000":225.0399932861,"1483488000000":225.6199951172,"1483574400000":226.2700042725,"1483660800000":226.5299987793,"1483920000000":226.9100036621},"High":{"1483401600000":225.8300018311,"1483488000000":226.75,"1483574400000":226.5800018311,"1483660800000":227.75,"1483920000000":227.0700073242},"Low":{"1483401600000":223.8800048828,"1483488000000":225.6100006104,"1483574400000":225.4799957275,"1483660800000":225.8999938965,"1483920000000":226.4199981689},"Close":{"1483401600000":225.2400054932,"1483488000000":226.5800018311,"1483574400000":226.3999938965,"1483660800000":227.2100067139,"1483920000000":226.4600067139},"Adj Close":{"1483401600000":208.8954467773,"1483488000000":210.1382446289,"1483574400000":209.9712677002,"1483660800000":210.7224731445,"1483920000000":210.0269165039},"Volume":{"1483401600000":91366500,"1483488000000":78744400,"1483574400000":78379000,"1483660800000":71559900,"1483920000000":46939700}}'

In [11]:
data["time"] = data.index
data.head().to_json()

'{"Open":{"1483401600000":225.0399932861,"1483488000000":225.6199951172,"1483574400000":226.2700042725,"1483660800000":226.5299987793,"1483920000000":226.9100036621},"High":{"1483401600000":225.8300018311,"1483488000000":226.75,"1483574400000":226.5800018311,"1483660800000":227.75,"1483920000000":227.0700073242},"Low":{"1483401600000":223.8800048828,"1483488000000":225.6100006104,"1483574400000":225.4799957275,"1483660800000":225.8999938965,"1483920000000":226.4199981689},"Close":{"1483401600000":225.2400054932,"1483488000000":226.5800018311,"1483574400000":226.3999938965,"1483660800000":227.2100067139,"1483920000000":226.4600067139},"Adj Close":{"1483401600000":208.8954467773,"1483488000000":210.1382446289,"1483574400000":209.9712677002,"1483660800000":210.7224731445,"1483920000000":210.0269165039},"Volume":{"1483401600000":91366500,"1483488000000":78744400,"1483574400000":78379000,"1483660800000":71559900,"1483920000000":46939700},"time":{"1483401600000":1483401600000,"1483488000000":1483488000000,"1483574400000":1483574400000,"1483660800000":1483660800000,"1483920000000":1483920000000}}'

In [13]:
data.head().to_csv().to_json()

AttributeError: 'str' object has no attribute 'to_json'